/* 
60%
 rgb(250, 205, 255) > rgb(114, 114, 114)
30%
rgb(183, 98, 193) > rgb(212, 212, 212)
10%
rgb(77, 16, 103) > black
*/

body {
    background-color: rgb(250, 205, 255);
    max-width: fit-content;
    margin: auto;
    text-align: center;
    color: rgb(77, 16, 103);
    font-family: sans-serif;
    
}
h2 {
    font-size: 1cm;
    display: in;
	margin: 0;
    display: inline-block;
	float: left;
    margin-left: 200px;
	position: relative;
	top:20px;
}

.navigation-menu {
	position: absolute;
	padding: 10px 28px;
	position: relative;
	top:20px;
	float: right;
	margin-right: 120px;

}

.text {
    width: 98%;
	position: absolute;
	left:68px;
	top:230px;
}


.text div{
  background-color:rgb(250, 205, 255);
  border: 2px solid rgb(77, 16, 103);
  width: 30%;
  height: 10cm;
  float: left;

}


.content {
    background-color: rgb(183, 98, 193);
    border: 2px solid rgb(77, 16, 103);
    text-align: center;
    width: 30cm;
    height: 20cm;
    border-radius: 10px;
    margin: 10px;

    
}


a {
  background-color: rgb(250, 205, 255);
  color: rgb(77, 16, 103);
  padding: 10px 28px;
  font-size: 13px;
  transition: 0.5s;
  text-decoration: none;
  border: 2px groove rgb(77, 16, 103);

}

a:hover {
  background-color: rgb(77, 16, 103);
  color: rgb(250, 205, 255);
}

b {
  background-color: rgb(250, 205, 255);
  color: rgb(77, 16, 103);
  padding: 5px 225px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  transition: 0.5s;
  text-decoration: none;
  border-style: groove;
  border-color: rgb(77, 16, 103);
  border-width: 2px;
}
