/* 
60%
 rgb(250, 205, 255) > rgb(114, 114, 114)
30%
rgb(183, 98, 193) > rgb(212, 212, 212)
10%
rgb(77, 16, 103) > black
*/

body {
  background:  rgb(92, 87, 141) url(Images/background.jpeg) fixed;
  color: rgb(77, 16, 103);
  max-width: fit-content;
  margin: auto;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-size: 1.2rem;
  
}

.content {
  background-color: rgb(183, 98, 193);
  border: 2px solid rgb(77, 16, 103);
  text-align: center;
  border-radius: 1%;
  max-width: fit-content;
  margin: auto;
  width: 90%;
  height: 20cm;
  padding: 5%;
}

h2 {
  margin: 0;
  font-size: 1cm;
  padding:1%;
}

.navigation-menu {
  padding:1%;

}

.text {
  position: relative;
  width: 98%;
  padding:1%;
}


.text div{
  background-color:rgb(250, 205, 255);
  border: 2px solid rgb(77, 16, 103);
  float: left;
  width: 30%;
  }



a {
  background-color: rgb(250, 205, 255);
  color: rgb(77, 16, 103);
  border: 2px groove rgb(77, 16, 103);
  transition: 0.5s;
  text-decoration: none;
  padding: 10px 28px;

}

a:hover {
  background-color: rgb(77, 16, 103);
  color: rgb(250, 205, 255);
}


#home .text div{
  background-color:rgb(250, 205, 255);
  border: 2px solid rgb(77, 16, 103);
  margin:1%;
  width: 90%;
  padding: 5%;
}

#home ol{
 text-align: left;
 background-color:rgb(250, 205, 255);
 border: 2px solid rgb(77, 16, 103);
 margin:1%;
 width: 90%;
 padding: 5%;
}

#home a{
  background-color:rgb(250, 205, 255);
  border: 2px solid rgb(77, 16, 103);
  margin:1%;
  width: 100cm;
  height:5cm;
}

#home .bottom{
  display: flex;
  font-size: 15px;
  color:  rgba(77, 16, 103, 0.54);
  
 }

 #home .bottom p {
  padding: 2%;
 }

 #home h4 {
  margin: 0;
 }


#about .text div{
  background-color:rgb(250, 205, 255);
  border: 2px solid rgb(77, 16, 103);
  width: 90%;
  padding: 5%;
}

#get-started .text div{
  background-color:rgb(250, 205, 255);
  border: 2px solid rgb(77, 16, 103);
  width: 90%;
  padding: 5%;
}

#get-started .content{
    max-width: fit-content;
    margin: auto;
    width: 95%;
    height: 65cm;
    padding: 5%;
}


